<section class="">
	<h2 id="Bio" class="sectionText">Биография</h2>
	<p>Танджиро - подросток, который отправляется на поиски восстановления человечности своей сестры Незуко , которая была превращена в демона после того, как Музан Кибуцудзи убил его семью после нападения, в результате которого смерть других его родственников. После столкновения с Гию Томиока , убийцей демонов, Гию нанял Танджиро, чтобы он также стал убийцей демонов, чтобы помочь своей сестре снова стать человеком и отомстить за свою семью.</p>
</section>