<section class="">
	<h2 id="brief" class="sectionText">Основная информация</h2>
	<p>Танджиро Камадо (яп. : 竈 門 炭 治郎, Хепберн : Камадо Танджиро) - вымышленный персонаж в манга Demon Slaye Койохару Готоге r: Кимэцу но Яиба</p>
</section>