<section class="">
	<h2 id="links" class="sectionText">Ссылки</h2>
	<ul>
		<li><a href="https://kimetsu-no-yaiba.fandom.com/ru/wiki/%D0%93%D0%B8%D1%8E_%D0%A2%D0%BE%D0%BC%D0%B8%D0%BE%D0%BA%D0%B0" target="_blank">Гию</a></li>
		<li><a href="https://kimetsu-no-yaiba.fandom.com/ru/wiki/%D0%9D%D0%B5%D0%B7%D1%83%D0%BA%D0%BE_%D0%9A%D0%B0%D0%BC%D0%B0%D0%B4%D0%BE" target="_blank">Незуко</a></li>
		<li><a href="https://kimetsu-no-yaiba.fandom.com/ru/wiki/%D0%97%D0%B5%D0%BD%D0%B8%D1%86%D1%83_%D0%90%D0%B3%D0%B0%D1%86%D1%83%D0%BC%D0%B0" target="_blank">Зеницу</a></li>
	</ul>
</section>